


#textbox{
    text-align: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 1s;
    word-spacing: 10px;
    font-weight: 900;
    font-size: 72px;
    position: absolute;
    z-index: 90;
    top: 50%;
    left: 20%;
    color: whitesmoke;
    pointer-events: none;
    max-height: 20svh;
}

#textbox.hide {
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
}
#videocontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100svh;
    overflow-x: hidden;
}

.banner{
    color: whitesmoke;
    padding: 0px 7svw;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.banner h1{
    margin: 0;
    font-size: 3rem;
    transition: 0.2s ease;
    line-height: 2.5rem;
    padding-bottom: 10px;
}

.banner p{
    margin: 0;
    font-size: 1.2rem;
    word-spacing: 0.3rem;
    transition: 0.2s ease; 
}

.banner a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.2rem;
    color:#0e7bff;
}

.banner .flexcontainer{
    display: flex;
    flex-direction: column;
    width: 40svw;
    gap: 20px;
}

.banner img{
    width: 40svw;
    border-radius: 1rem;
}
#formdiv{
    padding: 0px 7svw;
    margin-top: 7rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    gap: 60px;
}

#cards{
    display: flex;
    gap: 30px;
    overflow-x: scroll ;
    justify-content: center;
    align-items: center;   

}

#cards::-webkit-scrollbar{
    display: none;
}
.card{
    position: relative;
    background-image: url(../../public/assets/Thumbnail.png);
    height: 65vh;
    max-width: 20vw;
    min-width: 20vw;
    background-size: cover;
    background-clip: border-box;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    padding: 1rem;
    overflow: hidden;
}

.card:hover > .textContent{
    transform: translateY(60%);
}
.card:hover > .textContent h2{
    margin-bottom: 10px;
    transition: margin-bottom 0.1s ease-in-out;
}
.image{
    display: none;
}
.textContent{
    color: whitesmoke;
    display: flex;
    gap: 10px;
    min-height: 30svh;
    max-height: 30svh;
    max-width: 100%;
    min-width: 100%;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    user-select: none;
    align-items: center;
    transform: translateY(125%);
    transition: transform 0.5s ease-in-out;
}
.textContent h2{
    margin-bottom: 40px;
    transition: margin-bottom 0.3s ease-in-out;
}
.gyan{
    text-align: center;
}

.textContent button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 1.1rem;
}

#cardDiv h1{
    color: whitesmoke;
    margin-bottom: 60px;
    font-size: 3.5rem;
}

#cardDiv{
    margin-top: 7rem;
    text-align: center;
}



