
#backgrounds img{
    width: 100%;
    z-index: 1;
    margin-top: -20svh;
}

#backgrounds{
    /* margin-top: 3.8rem; */
    max-height: 70svh;
    overflow-y: hidden;
}

#backgrounds:hover{
    cursor: pointer;
}

#contactholder{
    z-index: 90;
    /* height: 70svh; */
    /* margin-top: 40svh; */
    /* background-color: rgb(188, 0, 0); */
    background-color: black;
    color: whitesmoke;
    padding: 20px 20svw;
}
#socials{
    gap: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20svw;

}

#contact h1:not(.message h1){
    word-spacing: 0.3rem;
    text-decoration: underline;
}
#socials h1:not(.message h1){
    word-spacing: 0.3rem;
    text-decoration: underline;
}
#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#contacts h1, #socials h1{
    margin: 2rem 0px;
}
.contactmethodsss{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

#socials a, #contactholder a{
    text-decoration: none;
    color: white;
}

.banners{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 20svw;
    gap: 20px;
}
.icon{
    padding: 15px 17px;
    /* background-color: black; */
    background-color: whitesmoke;
    border-radius: 50%;
}
#whatsapp{
    padding: 12px 15px;

}
#whatsapp img{
    height: 2.5rem;
    
}

.icon img{
    height: 2rem;
}
.details{
    text-align: center;
    word-spacing: 0.3rem;
}

@media only screen and (max-width: 450px) {

    #backgrounds img{
        min-height: 50svh;
        z-index: 1;
        margin-top: -5svh;
        object-fit: cover;
        scale: 1.5;
    }

    .icon{
        scale: 0.85;
    }

    #backgrounds{
        /* margin-top: 3.8rem; */

        object-fit: contain;
        min-height: 30svh;
        overflow: hidden;
    }
    
    /* .contactmethodsss{
        flex-wrap: wrap;
        gap: 1rem;
    } */


    #contactholder{
        padding: 20px 5svw;
    }

    #contacts .contactmethodsss{
            display: grid;
            grid-template-areas: "one two"
                                    "three three";
    }
    #contacts h1, #socials h1{
        margin: 1rem 0px;
    }
     #contacts .banners{
        min-width: 40svw;
        gap: 10px;
    }

    #contacts .details{
        font-size: 0.9rem;
    }
    #socials .details{
        display: none;
    }
    #socials{
        margin-top: 2rem;
    }
    .contactmethodsss .banners:nth-child(1){
        grid-area: one;
    }
    .contactmethodsss .banners:nth-child(2){
        grid-area: two;
    }
    .contactmethodsss .banners:nth-child(3){
        grid-area: three;
    }

    #formdiv{
        margin: 4rem 0px;
    }
}